{% extends "impl_solid.j2" %}

{% block summary %}
<p>
  Dit implementatiemodel is gebaseerd op <a href="https://data.vlaanderen.be/doc/applicatieprofiel/leerinschrijfcredential/">OSLO Leerinschrijfcredential</a>,
  dat op zijn beurt gebaseerd is op het <a href="https://github.com/european-commission-empl/European-Learning-Model">European Learning Model</a>.
  Die laatste gebruikt dan weer het <a href="https://www.w3.org/TR/vc-data-model/">W3C Verifiable Credentials Data Model</a> als overkoepelende structuur.
</p>
<p>
  Deze specificatie beschrijft de concepten die nodig zijn om inschrijvingsbewijzen en studentenattesten te modelleren. 
</p>
<p>
  Dit model beschrijft hoe een Persoon eigenaar kan zijn van één of meerdere Leerinschrijfcredentials,
  die uitgegeven zijn door een bepaalde Organisatie (zoals een overheidsinstantie, maar evenzeer ook private instanties).
  Deze Persoon kan verschillende Leerclaims hebben (mogelijks uitgegeven door een andere Organisatie dan de Organisatie die de Leercredential uitgeeft).
  Een Leeractiviteit is een specifiek soort Leerclaim.
  De algemene informatie over de Leeractiviteit die gemeenschappelijk is aan de verschillende Personen die de Leeractiviteit hebben uitgevoerd,
  zit vervat in de Leeractiviteitspecificatie, terwijl de persoonsspecifieke informatie vervat zit in de Leeeractiviteit.
  In het bijzonder beschrijven we ook de Inschrijving, Uitschrijving en Leeropportuniteit in dit model.
</p>
{% endblock %}
